body{
  background:black
}
h1{
  color: white;
}
h2{
    color: white
}
.intro__title{
  color:orange;
  text-align:center;
}
.title{
  text-align:center;
  color:white
}
.text{
  color:white;
  text-align: center;
}
h3{
    color: white;
      text-align:center;
}
.vlad{
    color:orange;
    text-align: center;
}
.vld{
    text-align: center;
}
